<p><%=titulo_tabla%></p>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th><%=sails.__("Marca")%></th>
      <th><%=sails.__("Modelo")%></th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Usuario</th>
      <th>Comentarios</th>
    </tr>
  </thead>
  <tbody>
    <% articulos.forEach(articulo=> { %>
      <tr>
        <td><%=articulo.id%></td>
        <td><%=articulo.marca%></td>
        <td><%=articulo.modelo%></td>
        <td><%=articulo.descripcion%></td>
        <td><%=articulo.precio%></td>
        <td><%=articulo.usuario.nombre%></td>
        <td>
          <ul>
            <% articulo.comentarios.forEach( comentario => { %>
              <li><%=comentario.descripcion%></li>
            <% }) %>
          </ul>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>